@font-face {
  font-family: arcane;
  src        : url('Font/ArcaneNine-eZP1x.ttf');
}

@font-face {
  font-family: quadrata-bold;
  src        : url('Font/Friz\ Quadrata\ Bold.otf');
}

@font-face {
  font-family: quadrata-regular;
  src        : url('Font/Friz\ Quadrata\ Regular.ttf');
}

@font-face {
  font-family: quadrata-medium;
  src        : url('Font/Friz\ Quadrata\ Std\ Medium.otf');
}

html {
  scroll-behavior: smooth;


}

/* variaveis */
:root {
  --primary-font  : arcane;
  --secondary-font: quadrata-regular;
  --medium-font   : quadrata-medium;
  --bold-font     : quadrata-bold;

}

.shadow {
  box-shadow: inset 0 10px 20px 10px black;
}

body {
  margin    : 0;
  padding   : 0;
  overflow  : hidden;
  background: black;
}

header {
  width   : 100vw;
  height  : 10vh;
  z-index : 1;
  position: absolute;
  left    : 0;
  right   : 0;
  top     : 0;
  bottom  : 0;
  padding : 15px 20px;
}

section video {
  opacity: .2;
}

header h1,
h2 {
  font-family: var(--primary-font);
  position   : relative;
  width      : 50%;
  align-items: center;
  text-align : center;
  margin     : auto;
  opacity    : 1;
  color      : #855E42;
}

h1 {
  font-size: 4rem;
}

h1,
h2 {
  color: #855E42;
  text-shadow: -1px -1px 0px #FFF,
    -1px 2px 0px #FFF,
    2px -1px 0px #FFF,
    2px 0px 0px #FFF;
}



@media (min-aspect-ratio:16/9) {
  .banner video {
    width : 100%;
    height: auto;
  }
}

@media (min-aspect-ratio:16/9) {
  .banner video {
    width : auto;
    height: 100%;
  }
}

@media(max-width: 767px) {
  .banner {
    display: none;
  }

  .banner-mobile {
    display: block;
  }
}

section {

  width     : 100vw;
  min-height: 100%;
  height    : 100vh;
  overflow  : hidden;


}

.home {
  width: 100%;

}

.banner {
  z-index          : 1;
  position         : absolute;
  left             : 0;
  right            : 0;
  top              : 0;
  bottom           : 0;
  margin           : auto;
  background-repeat: no-repeat;
  -webkit-filter   : drop-shadow(15px 15px 5px rgb(0, 0, 0));
  filter           : drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.banner img {
  position   : relative;
  width      : 50%;
  align-items: center;
  text-align : center;
  opacity    : 1;
  top        : 25vh;
  left       : 25vw;
  margin     : auto;
}

nav {
  z-index : 1;
  position: fixed;
  top     : 25vh;
}

nav ul {
  position       : fixed;
  margin-left    : 3.3rem;
  padding        : 1rem;
  list-style-type: none;
  justify-content: center;
  text-align     : justify;
  line-height    : 2.5rem;
  z-index        : 20;



}

.home nav ul li a {

  opacity    : 1;
  font-family: var(--primary-font);
  position   : relative;
  display    : flex;
  padding    : 5px;
  cursor     : pointer;
  font-size  : 1.2rem;
  color      : white;
  text-shadow: -1px -1px 0px #855E42,
    -1px 2px 0px #855E42,
    2px -1px 0px #855E42,
    2px 0px 0px #855E42;
  z-index        : 20;
  text-decoration: none;
}

.home nav ul li a:hover {
  font-size: 1.5rem;
}

.about,
.trailer,
.galery,
.episodes {
  width           : 100%;
  background-color: black;
}




#videoBG {
  position: relative;
  width   : 100vw;
  height  : auto;
  z-index : 0;
  opacity : 1;

}

#videoZ {
  position: absolute;
  width   : 100vw;
  height  : auto;
  z-index : 0;
  opacity : 1;
}

/* inicio about section */

.box {
  position  : relative;
  display   : flex;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  width     : 600px;
  height    : 300px;
  background: #23426b70;
  box-sizing: border-box;
  overflow  : hidden;
  box-shadow: 0 1px 40px #7e9868;
  border    : 2px solid #68986a;
  color     : white;
  padding   : 20px;
}

@media (max-width:900px) {
  .box {
    width : 350px;
    height: 400px;
  }

  .box h2 {
    font-size: 1rem;
  }

  .box p {
    font-size: .5rem;
  }
}


.box:before {
  content       : '';
  position      : absolute;
  top           : 0;
  left          : -100%;
  width         : 100%;
  height        : 100%;
  background    : rgba(255, 255, 255, 0.1);
  transition    : 0.5s;
  pointer-events: none;
}

.box:hover:before {
  left     : 50%;
  transform: skewX(-5deg);
}


.box .content1 {
  position  : absolute;
  top       : 15px;
  left      : 15px;
  right     : 15px;
  bottom    : 15px;
  border    : 1px solid #689882;
  padding   : 20px;
  text-align: center;


}

.box h2 {
  text-shadow  : 2px 2px 0px #5A3E1E, -2px -2px 0px #404138;
  color        : #EDB852;
  font-size    : 1.5rem;
  margin-bottom: 20px;
  font-family  : var(--bold-font);
}

.box a {
  font-size  : 1rem;
  padding    : 10px 0px;
  margin-top : 10px;
  font-family: var(--secondary-font);
  color      : #FFF;
  z-index    : 20;
}




.box span {
  position  : absolute;
  top       : 0;
  left      : 0;
  width     : 100%;
  height    : 100%;
  display   : block;
  box-sizing: border-box;

}

.box span:nth-child(1) {
  transform: rotate(0deg);
}


.box span:nth-child(2) {
  left     : 25.2%;
  transform: rotate(90deg);
}

.box span:nth-child(3) {
  transform: rotate(180deg);
}

.box span:nth-child(4) {
  left     : -25.2%;
  transform: rotate(270deg);
}

.box span:before {
  content   : '';
  position  : absolute;
  width     : 100%;
  height    : 2px;
  background: #68986a;
  animation : animate 8s linear infinite;
}

@keyframes animate {
  0% {
    transform       : scaleX(0);
    transform-origin: left;
  }

  50% {
    transform       : scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform       : scaleX(1);
    transform-origin: right;

  }

  100% {
    transform       : scaleX(0);
    transform-origin: right;

  }


}

/* fim about section */

.background {
  animation: slidein 5s .10s;
}

.background img {
  position : absolute;
  min-width: 100vw;
  height   : auto;
}

@media (min-aspect-ratio:16/9) {
  .background img {
    width : 100%;
    height: auto;
  }
}

@media (min-aspect-ratio:16/9) {
  .background img {
    width : auto;
    height: 100%;
  }
}

/* @media(max-width: 767px) {
  .background {
    display: none;
  }

  .banner-mobile {
    display: block;
  }
} */

@keyframes slidein {}

/* inicio section trailer */

.trailer h1 {
  position  : relative;
  text-align: center;
  margin-top: 1rem;
}

.content {
  margin-top : 7rem;
  margin-left: 6.5rem;

  width          : 40rem;
  height         : 22.5rem;
  border-radius  : 20px;
  position       : absolute;
  overflow       : hidden;
  left           : 50%;
  transform      : translateX(-60%);
  align-items    : center;
  justify-content: center;
}

.slides {
  display: flex;
  width  : 300%;
  height : 100%;

}

.slide {
  width     : 33.3%;
  transition: .6s;
}

.slide iframe {
  width : 100%;
  height: 100;
}

#slide1:checked~.s1 {
  margin-left: 0;
}

#slide2:checked~.s1 {
  margin-left: -33.3%;
}

#slide3:checked~.s1 {
  margin-left: -66.6%;
}

.navigation {
  display    : flex;
  position   : absolute;
  z-index    : 2;
  visibility : visible;
  margin-top : 3rem;
  margin-left: 6.5rem;
  left       : 50%;
  width      : 40rem;
  transform  : translateX(-60%);

}

.bar {
  opacity         : .8;
  font-family     : var(--primary-font);
  color           : #EDB852;
  text-align      : center;
  padding         : .5rem;
  width           : 6rem;
  margin          : 0 3rem;
  border-radius   : 10px;
  height          : 1.5rem;
  border          : 2px solid #5A3E1E;
  cursor          : pointer;
  transition      : .4s;
  background-color: #404138;
}

.bar:hover {
  background-color: #fff;

}

input {
  display: none;
}

/* -------------------fim section trailer--------------- */

/* inicio section caracters */
.caracters h1 {
  margin-top : 1rem;
  text-align : center;
  align-items: center;
  position   : relative;

}

.swiper {
  margin-top: 40vh;
  transform : translateY(-45%);
  width     : 340px;
  height    : 420px;

}

.swiper-slide {
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 18px;
  font-size      : 22px;
  font-weight    : bold;

  color             : #fff;
  -webkit-transition: 1s ease-in;
  -moz-transition   : 1s ease-in;
  -o-transition     : 1s ease-in;
  transition        : 2s ease-in;
}

.swiper-slide:nth-child(1n) {
  border    : 1px solid white;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.swiper-slide p {
  padding      : 10px;
  font-size    : 1.1rem;
  font-family  : var(--secondary-font);
  position     : absolute;
  margin       : 10px;
  background   : black;
  height       : auto;
  opacity      : 0;
  box-shadow   : 1px 1px 1px 2px #ca1a67;
  border-radius: 5px;
  z-index      : 3;
  visibility   : hidden;
  opacity      : 0;
  transition   : visibility .1s, opacity .6s linear;
}

.swiper-slide:nth-child(1n):hover p {
  visibility: visible;
  opacity   : .9;
}

.swiper-slide:nth-child(2n) {
  background: #FF0099;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #493240, #FF0099);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #493240, #FF0099);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.swiper-slide:nth-child(3n) {
  background: #1f4037;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.swiper-slide:nth-child(4n) {
  background: #636363;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a2ab58, #636363);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a2ab58, #636363);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.swiper-slide:nth-child(5n) {
  background: #fc4a1a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.swiper-slide:nth-child(6n) {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.swiper-slide:nth-child(7n) {
  background: #e1eec3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f05053, #e1eec3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.swiper-slide img {
  align-items: center;
  width      : 100%;
  height     : 100%;
  margin     : none;
  z-index    : 2;
  opacity    : .9;
}

.swiper-slide h1 {
  text-align      : center;
  font-size       : 3rem;
  height          : auto;
  width           : 100%;
  position        : absolute;
  z-index         : 3;
  text-orientation: upright;
  writing-mode    : vertical-lr;
}

/* ------------------fim section caracters -------------*/

/* ------------------Inicio section galery -------------*/
.galery h1 {
  position   : absolute;
  text-align : center;
  align-items: center;
  margin-top : 2vh;
  left       : 50vw;
  transform  : translateX(-50%);
}

.gallery {

  position        : relative;
  background-color: #493240d5;
  border-radius   : 10px;
  margin-top      : 15vh;
  width           : 80vw;
  height          : 80vh;
  left            : 16vw;
  display         : grid;
  z-index         : 1;
  overflow        : scroll;
  overflow-x      : hidden;
}

.full {
  position: fixed;
  left    : 0;
  top     : 0;
  width   : 100%;
  height  : 100%;
  z-index : 1;
}

.full .content2 {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height          : 100%;
  width           : 100%;
  display         : grid;
}

.full .content2 img {
  left      : 50%;
  transform : translate3d(0, 0, 0);
  animation : zoomin 1s ease;
  max-width : 100%;
  max-height: 100vh;
  margin    : auto;
  z-index   : 200;
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
}

.gallery {
  display              : grid;
  grid-column-gap      : 8px;
  grid-row-gap         : 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows       : 8px;
}

.gallery img {
  max-width    : 100%;
  border-radius: 8px;
  box-shadow   : 0 0 16px #333;
  transition   : all 1.5s ease;
}

.gallery img:hover {
  box-shadow: 0 0 32px #333;
}

.gallery .content2 {
  padding: 4px;
}

.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor    : pointer;
  z-index   : 4;
}

.gallery .gallery-item:hover {
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter   : blur(4px);
  }

  30% {
    filter   : blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter   : blur(4px);
  }

  30% {
    filter   : blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter   : blur(4px);
  }

  30% {
    filter   : blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter   : blur(4px);
  }

  30% {
    filter   : blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

/* ------------------fim section galery -------------*/